#grid-form {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% 75%;
  height: 100vh;
}
.pos {
  grid-column-start: 2;
  grid-row-start: 2;
}
@media screen and (max-width: 520px) {
  #container {
    width: 100%;
  }
  #input-id {
    width: 150px;
  }
  #input-pw {
    width: 150px;
  }
}
@media screen and (min-width: 521px) {
  #container {
    border: 1px solid gray;
    border-radius: 1em;
    width: 350px;
    height: 300px;
    padding-top: 80px;
    box-shadow: 3px 3px 5px gray;
  }
}
body {
  margin: 0;
  padding: 0;
}
#form2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#signup-container {
  border: 1px solid gray;
  border-radius: 1em;
  width: 350px;
  height: 450px;
  padding-top: 55px;
  margin-top: 50px;
  box-shadow: 3px 3px 5px gray;
}